@charset "UTF-8";

/* Importing fonts */
@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-jp-dynamic-subset.css");
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
}

html[lang='ko'],
html[lang='en'] {
  /* Korean / English Fonts */
  font-family: 'Wanted Sans Variable', sans-serif !important;
  font-feature-settings: 'ss05';
}

html[lang='vi'] {
  /* Vietnamese (Latin) Fonts */
  font-family: 'Be Vietnam Pro', 'Wanted Sans Variable', sans-serif !important;
}

html[lang='ja'] {
  /* Japanese Fonts */
  font-family: 'Pretendard JP Variable', 'Wanted Sans Variable', sans-serif !important;
}

main {
  width: 100%;
  height: 100vh;

  gap: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgb(23, 23, 23);
}

h3.title {
  font-size: 1.5rem;
  font-weight: 700;

  line-height: 2rem;
  color: rgb(226, 226, 226);
}

p.description {
  font-size: 1rem;

  line-height: 1.5rem;
  color: rgb(181, 181, 181);

  gap: 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

img.loading {
  width: 1rem;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}

iframe {
  width: 100vw;
  height: 100vh;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

iframe.active {
  z-index: 1;
}