@charset "UTF-8";

/** Global */
main {
  padding: 30px 60px;
}

/** Headers */
header {
  display: flex;
  justify-content: space-between;
}

.header-text h1 {
  color: #000;
  font-size: 1.58em;
  font-weight: 700;
  letter-spacing: -0.05em;

  margin-block: 0;
  padding-bottom: 30px;
}

.header-text h2 {
  color: #555;
  font-size: 1.1em;
  font-weight: 500;
  letter-spacing: -0.05em;

  margin-block: 0;
  padding-bottom: 2em;
}

.header-text .header-method-wrap {
  display: flex;
  align-items: center;
  gap: 15.8px;

  margin-bottom: 40px;
}

.header-text .header-method-wrap h2 {
  line-height: 1.6em;
  padding-bottom: initial;
}

.header-text .header-method-icon {
  width: 54px;
  height: 54px;
  border-radius: 5px;
}

.header-controller i {
  font-size: 30px;
  cursor: pointer;
}


/** 인증수단 버튼 */
.cert-provider {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-auto-columns: auto;
  gap: 10px;
}

.cert-provider-btn {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cert-provider-btn button {
  width: 60px;
  height: 60px;
  cursor: pointer;

  text-align: center;
  background-color: transparent;
  background-origin: content-box !important;
  /*border: 1.58px solid #ddd;*/
  border: 0;
  border-radius: 5px;
}

.cert-provider-btn button + span {
  width: 100%;
  padding: 10px 0 20px;
  cursor: pointer;

  color: #222;
  text-align: center;
  font-size: .9rem;
  font-weight: 500;
  line-height: 1.58rem;
}

.cert-provider-btn button:hover + span {
  color: #000;
  font-weight: 700;
}

/** 인증서 정보 인풋 */
.auth_input {
  position: relative;
  display: inline-block;

  width: 100%;
  height: 76px;
  margin: 3px 0;
}

.auth_input label {
  position: absolute;
  top: 26px;
  left: 0;

  font-size: 16px;
  cursor: text;
  transition: 0.3s;
}

.auth_input input {
  width: 100%;
  padding: 4px 0;

  margin-top: 12px;

  font-size: 1.2em;
  line-height: 36px;
  cursor: text;

  background: transparent;
  border: transparent;
  border-bottom: .5px solid #999;
  outline: none;

  transition: all 0.2s ease;
  box-sizing: border-box;
}

.auth_input input:focus + label,
.auth_input input:valid + label,
.auth_input .virtual-input:not([data-value=" "]) + label,
.auth_input {
  top: 0;
  font-size: 12px;
  color: #0456bb;
}

.auth_input input:focus {
  border-bottom: 1.58px solid #0456bb;
}

/** 인증서 이용 동의 */
.agree_area {
  margin-top: 30px;
  padding: 15px 20px;
  border: 1px solid #ddd;
  border-radius: 0.25rem;

  color: #333;
  font-size: 12px;
}

.agree_area .agree_all_check {
  display: flex;
  gap: 8px;
  align-items: center;
  color: #333;

  font-weight: bold;
  font-size: 14px;
}

.agree_area .agree_all_check input {
  width: 18px;
  height: 18px;
}

.agree_area .agree_all_check label {
  color: #000;
}

.agree_area li {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 5px 10px;
}

.agree_area li:last-child {
  padding-bottom: 0;
}

.agree_area li div {
  display: flex;
  gap: 8px;
  align-items: center;
}

.agree_area li input {
  width: 14px;
  height: 14px;
}

.agree_area li a {
  color: #333;
  padding-inline-end: 20px;
}

/** 컨트롤 버튼 */
.control_btns {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 30px;
  padding: 20px 0;
}

.control_btns button {
  width: 28%;
  height: 42px;

  border: 1px solid #ddd;
  border-radius: 5px;
  background: white;

  cursor: pointer;
  text-align: center;
  transition: background-color 0.1s ease;
}

.control_btns button:last-child {
  background: #1672e4;
  border: 1px solid #0456bb;
}

.control_btns button:last-child span {
  color: white;
}

.control_btns button:last-child:disabled {
  background: #ddd;
  border: 1px solid #ddd;
}

.control_btns button:last-child:disabled span {
  color: #555;
}

.control_btns button span {
  color: #333;
  font-weight: 700;
  font-size: 14px;
}

/** 각 인증수단 별 커스텀 색상 */
.cert-provider button[data-provider="PASS"],
.header-method-icon[data-provider="PASS"] {
  background: white url("/images/bridge/app_SMS.png") no-repeat center;
  background-size: cover;
}

.cert-provider button[data-provider="INICIS_CARD"],
.header-method-icon[data-provider="INICIS_CARD"] {
  background: white url("/images/bridge/app_CARD.png") no-repeat center;
  background-size: cover;
}

.cert-provider button[data-provider="UNIFIED_YESKEY"],
.header-method-icon[data-provider="UNIFIED_YESKEY"] {
  background: white url("/images/bridge/app_KFTC.svg") no-repeat center;
  background-size: 75%;
}

.cert-provider button[data-provider="UNIFIED_KAKAO"],
.header-method-icon[data-provider="UNIFIED_KAKAO"] {
  background: #f3d623 url("/images/bridge/app_KAKAO.png") no-repeat center;
  background-size: 100%;
}

.cert-provider button[data-provider="UNIFIED_NAVER"],
.header-method-icon[data-provider="UNIFIED_NAVER"] {
  background: #03c75a url("/images/bridge/app_NAVER.png") no-repeat center;
  background-size: cover;
}

.cert-provider button[data-provider="UNIFIED_KOOKMIN"],
.header-method-icon[data-provider="UNIFIED_KOOKMIN"] {
  background: #ffae00 url("/images/bridge/app_KOOKMIN.png") no-repeat center;
  background-size: 100%;
}

.cert-provider button[data-provider="SIGNGATE_TOSS"],
.header-method-icon[data-provider="SIGNGATE_TOSS"] {
  background: white url("/images/bridge/app_TOSS.png") no-repeat center;
  background-size: 90%;
}

.cert-provider button[data-provider="UNIFIED_SHINHAN"],
.header-method-icon[data-provider="UNIFIED_SHINHAN"] {
  background: white url("/images/bridge/app_SHINHAN.png") no-repeat center;
  background-size: 100%;
}

.cert-provider button[data-provider="UNIFIED_PAYCO"],
.header-method-icon[data-provider="UNIFIED_PAYCO"] {
  background: white url("/images/bridge/app_PAYCO.png") no-repeat center;
  background-size: cover;
}

.cert-provider button[data-provider="UNIFIED_SPASS"],
.header-method-icon[data-provider="UNIFIED_SPASS"] {
  background: #1e4bc6 url("/images/bridge/app_SPASS.png") no-repeat center;
  background-size: 85%;
}

.cert-provider button[data-provider="UNIFIED_BANKSALAD"],
.header-method-icon[data-provider="UNIFIED_BANKSALAD"] {
  background: white url("/images/bridge/app_BANKSALAD.png") no-repeat center;
  background-size: 85%;
}

.cert-provider button[data-provider="UNIFIED_KEBHANA"],
.header-method-icon[data-provider="UNIFIED_KEBHANA"] {
  background: #00b2a7 url("/images/bridge/app_KEBHANA.png") no-repeat center;
  background-size: 100%;
}

.cert-provider button[data-provider="UNIFIED_KAKAOBANK"],
.header-method-icon[data-provider="UNIFIED_KAKAOBANK"] {
  background: #ffe300 url("/images/bridge/app_KAKAOBANK.png") no-repeat center;
  background-size: 100%;
}

.cert-provider button[data-provider="UNIFIED_WOORI"],
.header-method-icon[data-provider="UNIFIED_WOORI"] {
  background: #0028a0 url("/images/bridge/app_WOORI.png") no-repeat center;
  background-size: 90%;
}

/** Media queries */
@media (max-width: 768px) {
  main {
    padding: 30px 20px;
  }
}

@media (max-width: 486px) {
  .mobile-optional {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .header-text h1 {
    color: white;
  }

  .header-text h2 {
    color: #aaa;
  }
}

@media (max-width: 768px) {
  .header-text h1 {
    font-size: 1.2em;
  }


  .header-text .header-method-icon {
    width: 44px;
    height: 44px;
  }

  .header-text .header-method-wrap h2 {
    font-size: 1em;
  }
}

@media (prefers-color-scheme: dark) {
  .cert-provider-btn button + span {
    color: #ccc;
  }

  .cert-provider-btn button:hover + span {
    color: #fff;
  }
}

@media (max-width: 768px) {
  .cert-provider {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (prefers-color-scheme: dark) {
  .auth_input input {
    color: white;
    border-bottom: 1.58px solid #aaa;
  }

  .auth_input label {
    color: #aaa;
  }

  .auth_input input:focus + label,
  .auth_input input:valid + label,
  .auth_input .virtual-input:not([data-value=" "]) + label {
    color: #55a1ff;
  }

  .auth_input input:focus {
    border-bottom: 1.58px solid #55a1ff;
  }
}

@media (prefers-color-scheme: dark) {
  .agree_area {
    border-color: #aaa;
    color: #aaa;
  }

  .agree_area .agree_all_check label {
    color: white;
  }

  .agree_area li a {
    color: #aaa;
  }
}

@media (max-width: 768px) {
  .agree_area ul {
    padding-inline-start: 10px;
  }

  .agree_area li a {
    padding-inline-end: 10px;
  }
}

@media (max-width: 400px) {
  .agree_area li a {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .control_btns button {
    background: #333;
    border-color: #555;
  }

  .control_btns button span {
    color: white;
  }

  .control_btns button:last-child:disabled {
    background: #333;
    border: 1px solid #333;
  }

  .control_btns button:last-child:disabled span {
    color: #aaa;
  }

  .control_btns button:last-child span {
    color: white;
  }
}

@media (max-width: 400px) {
  .control_btns button {
    width: 110px;
  }
}
