@charset "UTF-8";

/** Importing fonts */
@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-jp-dynamic-subset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,300,0,0");

html[lang='ko'],
html[lang='en'] {
    /** Korean / English Fonts */
    font-family: 'Wanted Sans Variable', sans-serif !important;
    font-feature-settings: 'ss05';
}

html[lang='vi'] {
    /** Vietnamese (Latin) Fonts */
    font-family: 'Be Vietnam Pro', 'Wanted Sans Variable', sans-serif !important;
}

html[lang='ja'] {
    /** Japanese Fonts */
    font-family: 'Pretendard JP Variable', 'Wanted Sans Variable', sans-serif !important;
}

.material-symbols-rounded {
    user-select: none;
}

/** Custom styles */
input[type='checkbox'] {
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;

    appearance: none;
    padding: 0;

    color: #1672e4;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 0.25rem;

    user-select: none;
    flex-shrink: 0;

    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
}

input[type='checkbox']:checked {
    border-color: transparent;

    background-color: currentColor;
    background-size: 100% 100%;

    background-position: center;
    background-repeat: no-repeat;

    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

/** Media queries */
@media (prefers-color-scheme: dark) {
    body {
        background: rgb(23, 23, 23);
    }

    .material-symbols-rounded {
        color: white;
    }
}