<!DOCTYPE html>
<html lang="ko" th:lang="${lang}" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">

  <title th:text="${'본인 인증 | ' + serviceName}"></title>
</head>
<body>
<form method="post" name="form_auth" target="auth_popup"
      th:action="${pass_kcpBaseUrl} + '/kcp_cert/cert_view.jsp'">
  <!-- 요청정보 -->
  <input name="ordr_idxx" th:value="${pass_orderId}" type="hidden"/>
  <input name="up_hash" th:value="${pass_upHash}" type="hidden"/>

  <input name="kcp_merchant_time" th:if="${pass_kcpCertLibName == 'KCP_SPL_API'}" th:value="${pass_kcpMerchantTime}"
         type="hidden"/>
  <input name="kcp_cert_lib_ver" th:value="${pass_kcpCertLibVer}" type="hidden"/>

  <!-- 요청구분 -->
  <input name="req_tx" type="hidden" value="cert"/>
  <input name="cert_method" type="hidden" value="01"/>

  <!-- 가맹점 정보 -->
  <input name="web_siteid" th:value="${pass_webSiteId}" type="hidden"/>
  <input name="site_cd" th:value="${pass_siteCd}" type="hidden"/>
  <input name="Ret_URL" type="hidden" value=""/>

  <!-- cert_otp_use 필수 (메뉴얼 참고)
  Y : 실명 확인 + OTP 점유 확인, N : 실명 확인 only -->
  <input name="cert_otp_use" type="hidden" value="Y"/>

  <!-- 리턴 암호화 고도화 -->
  <input name="cert_enc_use_ext" type="hidden" value="Y"/>

  <input name="cert_able_yn" type="hidden" value=""/>
  <input name="res_cd" type="hidden" value=""/>
  <input name="res_msg" type="hidden" value=""/>

  <!-- web_siteid 검증 을 위한 필드 -->
  <input name="web_siteid_hashYN" th:attr="value=${!pass_webSiteId.isBlank() && !pass_webSiteId.isEmpty() && pass_webSiteId != null} ? 'Y': 'N'"
         type="hidden"/>

  <!-- up_hash 검증 을 위한 필드 -->
  <input name="veri_up_hash" type="hidden" value=""/>

  <!-- 가맹점 사용 필드 (인증완료시 리턴)-->
  <input name="param_opt_1" th:value="${'client_id=' + clientId}" type="hidden"/>
  <input name="param_opt_2" th:value="${'kcp_cert_lib_name=' + pass_kcpCertLibName}" type="hidden"/>
  <input name="param_opt_3" type="hidden" value=""/>
</form>

<script src="/js/vendors/jquery-4.0.0-beta.slim.min.js"></script>

<script th:inline="javascript">
  $(document).ready(function () {
    $('form[name="form_auth"] input[name="Ret_URL"]').val(location.origin + [[${pass_callbackUrl}]])

    // 본인인증 요청
    self.name = "auth_popup";
    $('form[name="form_auth"]').submit()
  })
</script>

</body>
</html>
