<!DOCTYPE html>
<html lang="ko" th:lang="${lang}" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

  <title th:text="${'본인 인증 | ' + serviceName}"></title>

  <link crossorigin="anonymous" href="https://cdn.jsdelivr.net" rel="preconnect"/>
  <link crossorigin="anonymous" href="https://fonts.googleapis.com" rel="preconnect"/>
  <link crossorigin="anonymous" href="https://fonts.gstatic.com" rel="preconnect"/>

  <link href="/css/vendors/normalize.min.css" rel="stylesheet"/>
  <link href="/css/reset.css" rel="stylesheet"/>

  <link href="/css/common.css" rel="stylesheet"/>
  <link href="/css/bridge.css" rel="stylesheet"/>
</head>

<body>
<main>
  <header>
    <section class="header-text">
      <h1>
        <span>인증 정보를 입력해 주세요!</span>
      </h1>

      <div class="header-method-wrap">
        <div class="header-method-icon" th:data-provider="${provider}"></div>

        <h2>
          <!--                        카카오톡을 선택하셨어요!<br />-->
          <span class="mobile-optional">가입하신 인증서 정보를 입력하여 인증을 진행해 주세요.</span>
        </h2>
      </div>
    </section>

    <section class="header-controller">
      <i class="material-symbols-rounded"> close </i>
    </section>
  </header>

  <form class="auth-info">
    <input name="lang" th:value="${lang}" type="hidden"/>
    <input name="client_id" th:value="${clientId}" type="hidden"/>
    <input name="provider"
           th:value="${provider}"
           type="hidden"/>

    <div class="auth_input">
      <input id="auth_name" name="username" required title="이름을 입력해주세요." type="text"/>
      <label for="auth_name">이름</label>
    </div>

    <div class="auth_input">
      <input id="auth_birth"
             maxlength="8" name="birthday" required
             title="생년월일을 입력해주세요. (예. 20000116)" type="number"/>
      <label for="auth_birth">생년월일 (예. 19960309)</label>
    </div>

    <div class="auth_input">
      <input id="auth_phone"
             maxlength="11" name="phone" required
             title="휴대전화번호를 입력해주세요. (- 제외)" type="tel"/>
      <label for="auth_phone">휴대전화번호 (- 제외)</label>
    </div>

    <div class="agree_area">
      <div class="agree_all_check">
        <input id="chk_all" type="checkbox">
        <label for="chk_all">전체 동의</label>
      </div>
      <ul>
        <li>
          <div>
            <input id="term_no1" required type="checkbox">
            <label for="term_no1">(필수) 간편인증통합중계 서비스 이용 약관</label>
          </div>
          <a href="#">보기</a>
        </li>
        <li>
          <div>
            <input id="term_no2" required type="checkbox">
            <label for="term_no2">(필수) 개인정보 수집 및 이용·제공 동의</label>
          </div>
          <a href="#">보기</a>
        </li>
        <li>
          <div>
            <input id="term_no3" required type="checkbox">
            <label for="term_no3">(필수) 개인정보 제3자 정보제공 동의</label>
          </div>
          <a href="#">보기</a>
        </li>
        <li>
          <div>
            <input id="term_no4" required type="checkbox">
            <label for="term_no4">(필수) 개인정보 취급 위탁 동의</label>
          </div>
          <a href="#">보기</a>
        </li>
      </ul>
    </div>

    <div class="control_btns">
      <button id="backBtn" type="button">
        <span>이전</span>
      </button>

      <button disabled id="submit" type="submit">
        <span>인증 진행</span>
      </button>
    </div>
  </form>
</main>

<script src="/js/vendors/jquery-4.0.0-beta.slim.min.js"></script>
<script src="/js/request.js"></script>

<script th:inline="javascript">
  $("#backBtn").click(function () {
      location.href = "start.html?client_id=" + [[${clientId}]] + "&lang=" + [[${lang}]];
  });
</script>
</body>

</html>