<!DOCTYPE html>
<html lang="ko" th:lang="${lang}" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

  <title th:text="${'본인 인증 | ' + serviceName}"></title>

  <link crossorigin="anonymous" href="https://cdn.jsdelivr.net" rel="preconnect"/>
  <link crossorigin="anonymous" href="https://fonts.googleapis.com" rel="preconnect"/>
  <link crossorigin="anonymous" href="https://fonts.gstatic.com" rel="preconnect"/>

  <link href="/css/vendors/normalize.min.css" rel="stylesheet"/>
  <link href="/css/reset.css" rel="stylesheet"/>

  <link href="/css/bridge.css" rel="stylesheet"/>
</head>

<body>
<main>
  <header>
    <section class="header-text">
      <h1>간편인증</h1>
      <h2>인증 방법을 선택해 주세요.</h2>
    </section>

    <section class="header-controller">
      <i class="material-symbols-rounded"> close </i>
    </section>
  </header>

  <form action="request.html" class="cert-provider">
    <input name="lang" th:value="${lang}" type="hidden"/>
    <input name="clientId" th:value="${clientId}" type="hidden"/>
    <input name="provider" type="hidden" value=""/>

    <div class="cert-provider-btn" th:if="${providersList.contains('PASS')}">
      <button aria-label="휴대폰 인증" data-provider="PASS" type="button"></button>
      <span>휴대폰 인증</span>
    </div>

    <div class="cert-provider-btn" th:if="${providersList.contains('INICIS_CARD')}">
      <button aria-label="신용카드 인증" data-provider="INICIS_CARD"
              type="button"></button>
      <span>신용카드 인증</span>
    </div>

    <div class="cert-provider-btn" th:if="${providersList.contains('UNIFIED_YESKEY')}">
      <button aria-label="금융인증서" data-provider="UNIFIED_YESKEY" type="button"></button>
      <span>금융인증서</span>
    </div>

    <div class="cert-provider-btn" th:if="${providersList.contains('UNIFIED_KAKAO')}">
      <button aria-label="카카오톡" data-provider="UNIFIED_KAKAO" type="button"></button>
      <span>카카오톡</span>
    </div>

    <div class="cert-provider-btn" th:if="${providersList.contains('UNIFIED_NAVER')}">
      <button aria-label="네이버" data-provider="UNIFIED_NAVER" type="button"></button>
      <span>네이버</span>
    </div>

    <div class="cert-provider-btn" th:if="${providersList.contains('UNIFIED_KOOKMIN')}">
      <button aria-label="KB국민인증서" data-provider="UNIFIED_KOOKMIN" type="button"></button>
      <span>KB국민인증서</span>
    </div>

    <div class="cert-provider-btn" th:if="${providersList.contains('SIGNGATE_TOSS')}">
      <button aria-label="토스" data-provider="SIGNGATE_TOSS" type="button"></button>
      <span>토스</span>
    </div>

    <div class="cert-provider-btn" th:if="${providersList.contains('UNIFIED_SHINHAN')}">
      <button aria-label="신한인증서" data-provider="UNIFIED_SHINHAN" type="button"></button>
      <span>신한인증서</span>
    </div>

    <div class="cert-provider-btn" th:if="${providersList.contains('UNIFIED_PAYCO')}">
      <button aria-label="PAYCO" data-provider="UNIFIED_PAYCO" type="button"></button>
      <span>PAYCO</span>
    </div>

    <div class="cert-provider-btn" th:if="${providersList.contains('UNIFIED_SPASS')}">
      <button aria-label="삼성패스" data-provider="UNIFIED_SPASS" type="button"></button>
      <span>삼성패스</span>
    </div>

    <div class="cert-provider-btn" th:if="${providersList.contains('UNIFIED_BANKSALAD')}">
      <button aria-label="뱅크샐러드" data-provider="UNIFIED_BANKSALAD" type="button"></button>
      <span>뱅크샐러드</span>
    </div>

    <div class="cert-provider-btn" th:if="${providersList.contains('UNIFIED_KEBHANA')}">
      <button aria-label="하나인증서" data-provider="UNIFIED_KEBHANA" type="button"></button>
      <span>하나인증서</span>
    </div>

    <div class="cert-provider-btn" th:if="${providersList.contains('UNIFIED_KAKAOBANK')}">
      <button aria-label="카카오뱅크" data-provider="UNIFIED_KAKAOBANK" type="button"></button>
      <span>카카오뱅크</span>
    </div>

    <div class="cert-provider-btn" th:if="${providersList.contains('UNIFIED_WOORI')}">
      <button aria-label="우리인증서" data-provider="UNIFIED_WOORI" type="button"></button>
      <span>우리인증서</span>
    </div>
  </form>
</main>

<script src="/js/vendors/jquery-4.0.0-beta.slim.min.js"></script>

<script>
  $(".cert-provider-btn button").click(function () {
    const provider = $(this).data("provider");
    $("input[name='provider']").val(provider);
    $("form").submit();
  });
</script>
</body>

</html>